nav {
  display: flex;
  justify-content: space-between;
  background-color: #F9AA33;
  padding: 10px;
}

.navbar-left a, .navbar-right a, .navbar-right button {
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-left a img, .navbar-right a img, .navbar-right button img {
  margin-right: 10px;
}

.navbar-right button {
  background-color: white;
  color: #F9AA33;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-right button:hover {
  background-color: #F9AA33;
  color: white;
}